<h2>Create team</h2>

<%= form_for(@team) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="actions">
    <%= f.submit "Create" %>
  </div>
<% end %>